<div class="alert alert-block alert-success">
    <span style='font-size: large'><b> ASSIGNMENT 01 </b></span>
    <br>
    <span> GROUP 1 <span>
</div>

In [1]:
import pandas as pd

In [2]:
# DataFrame Customers
cus_data = [
    [1, 'Keo Tola', 'M', '011 694 836','Phnom Penh'],
    [2, 'Chan Sokheng', 'F', '097 984 4985','Pursat'],
    [3, 'Meng Heang', 'M', '099 897 858', 'Phnom Penh'],
    [4, 'Sok Sophea', 'F', '086 985 585','Siem Reap'],
    [5, 'Sen Sinet', 'F', '097 242 234', 'Phnom Penh'],
    [6, 'Sok Panha', 'M', '086 654 432', 'Siem Reap'],
]
df_customers = pd.DataFrame(cus_data, columns=['CusID','CusName', 'Gender', 'Phone','Address'])

In [3]:
# DataFrame Invoice and InvoiceDetail
inv_data = [
    [1, "2021-01-04", 22, 1, 1],
    [2, "2021-05-15", 14, 4, 1],
    [3, '2021-05-15', 8, 3, 2],
    [4, '2021-07-22', 15, 2, 3],
    [5, '2020-01-17', 45, 1, 3],
    [6, '2020-03-27', 24, 1, 3],
    [7, '2020-02-11', 5, 3, 4],
    [8, '2020-07-22', 59, 3, 59]
]
inv_Detail = [
    [1, 1, 5, 3],
    [1, 2, 7, 1],
    [2, 1, 7, 2],
    [3, 3, 8, 1],
    [4, 2, 7, 1],
    [4, 3, 8, 1],
    [5, 1, 5, 2],
    [5, 2, 7, 5],
    [6, 3, 8, 5],
    [7, 1, 5, 1],
    [8, 2, 7, 5],
    [8, 3, 8, 4],
]

df_invoice = pd.DataFrame(inv_data, columns=['InvoiceID', 'InvoiceDate', 'TotalAmount', 'CusID', 'StaffID'])
df_invD = pd.DataFrame(inv_Detail, columns=['InvoiceID', 'ProductID', 'SellingPrice', 'Quantity'])

In [4]:
# DataFrame Products
prod_data = [
    [1, 'Cable', 50, 10 , 0.5],
    [2, 'Mouse', 30, 7, 0],
    [3, 'USB Headset' ,35, 10, 0.2],
    [4, 'Adapter', 20, 7, 0.5],
    [5, 'Keyboard', 15, 15, 0.6],
]
df_prod = pd.DataFrame(prod_data, columns=['ProductID', 'ProductName', 'StockQty', 'UnitPrice', 'Discount'])

In [5]:
# DataFrame of Staffs
staff_data = [
    [1, 'Kim Tola', 'M', 1500, False],
    [2, 'Long Dary', 'F', 700, False],
    [3, 'Kun Sopheak', 'F', 320, False],
    [4, 'Chim Thida', 'F', 200, True],
    [5, 'Dim Vuthy', 'M', 150, True],
    [6, 'Keo Dara', 'M', 100, False],
]
df_staffs = pd.DataFrame(staff_data, columns=['StaffID', 'StaffName', 'Gender', "Salary", 'StopWork'])

<div class="alert alert-block alert-info"> 1. Display the customer who purchased the invoiceID Number[id] </div>

In [6]:
# Merge df_costomer with df_invoice base on CusID
invoiceID = 1
df_cus_inv = pd.merge(df_customers, df_invoice, on='CusID')
cus_inv = df_cus_inv[df_cus_inv['InvoiceID'] == invoiceID]
cus_inv

,CusID,CusName,Gender,Phone,Address,InvoiceID,InvoiceDate,TotalAmount,StaffID
0,1,Keo Tola,M,011 694 836,Phnom Penh,1,2021-01-04,22,1

<div class="alert alert-block alert-info"> 2. Display the names of the products purchased by the customer whose phone number is [phone]. </div>

In [7]:
#Merge InvoiceDetial with Products base ProductID
df_inv_invD = pd.merge(df_invD, df_prod, on='ProductID')

In [8]:
#Merge DataFrame of Cus_Inv with Inv_InvD
phone = '011 694 836'
df_merge = pd.merge(df_cus_inv, df_inv_invD, on='InvoiceID')
df_nameProd = df_merge[df_merge['Phone'] == phone]
df_nameProd[['CusID', 'CusName', 'Gender', 'Address', 'InvoiceID', 'InvoiceDate', 'SellingPrice', 'Quantity','ProductName', 'Discount']]

,CusID,CusName,Gender,Address,InvoiceID,InvoiceDate,SellingPrice,Quantity,ProductName,Discount
0,1,Keo Tola,M,Phnom Penh,1,2021-01-04,5,3,Cable,0.5
1,1,Keo Tola,M,Phnom Penh,1,2021-01-04,7,1,Mouse,0.0
2,1,Keo Tola,M,Phnom Penh,5,2020-01-17,5,2,Cable,0.5
3,1,Keo Tola,M,Phnom Penh,5,2020-01-17,7,5,Mouse,0.0
4,1,Keo Tola,M,Phnom Penh,6,2020-03-27,8,5,USB Headset,0.2

<div class="alert alert-block alert-info"> 3. Display all invoices purchased by the customer named [name]. </div>

In [9]:
cusName = 'Keo Tola'
df_cus_inv.loc[df_cus_inv['CusName'] == cusName, ['CusName', 'InvoiceID', 'InvoiceDate', 'TotalAmount']]

    CusName  InvoiceID InvoiceDate  TotalAmount
0  Keo Tola          1  2021-01-04           22
1  Keo Tola          5  2020-01-17           45
2  Keo Tola          6  2020-03-27           24

<div class='alert alert-block alert-info'>4. Display all invoices issued by a staff named [name].</div>

In [10]:
staffName = 'Kim Tola'
df_inv_staff = pd.merge(df_invoice, df_staffs, on='StaffID')
df_inv_staff.loc[df_inv_staff['StaffName'] == staffName, ['StaffName', 'InvoiceID', 'InvoiceDate', 'TotalAmount']]

  StaffName  InvoiceID InvoiceDate  TotalAmount
0  Kim Tola          1  2021-01-04           22
1  Kim Tola          2  2021-05-15           14

<div class='alert alert-block alert-info'>5. Display all names, selling prices and quantities of the products in the invoice ID number [id].</div>

In [11]:
prodID = 1
df_inv_invD.loc[df_inv_invD['InvoiceID'] == prodID, ['InvoiceID','ProductName', 'SellingPrice', 'Quantity']]

   InvoiceID ProductName  SellingPrice  Quantity
0          1       Cable             5         3
4          1       Mouse             7         1

<div class='alert alert-block alert-info'> 6. Display all customers who purchased [product_name].</div>

In [12]:
prodName = 'Cable'
cus_prod = df_merge.loc[df_merge['ProductName'] == 'Cable', ['CusName', 'ProductName']]
cus_prod

       CusName ProductName
0     Keo Tola       Cable
2     Keo Tola       Cable
8   Meng Heang       Cable
11  Sok Sophea       Cable

<div class='alert alert-block alert-info'> 7. Display the number of female staffs who are still working for the company.</div>

In [13]:
num_female = df_staffs.groupby(['StopWork', 'Gender']).size().reset_index(name='Count')
num_female.loc[(num_female['StopWork'] == False) & (num_female['Gender'] == 'F')]

   StopWork Gender  Count
0     False      F      2

<div class='alert alert-block alert-info'> 8. Display the total quantity of [product_name] that have been sold to the customers who live in
[address].</div>

In [14]:
prodName = 'Cable'
address = 'Phnom Penh'
info_cus = df_merge[df_merge['Address'] == address] # Filter by Adderss
info_cus = info_cus.groupby('ProductName')['Quantity'].sum().reset_index() # Go to Quantity column use sum method to sum all value
info_cus = info_cus[info_cus['ProductName'] == prodName] # Filter by Product Name
info_cus

  ProductName  Quantity
0       Cable         6

<div class='alert alert-block alert-info'> 9. Display all customers who have never purchased any product.</div>

In [15]:
merged_data = pd.merge(df_customers, df_invoice, on='CusID', how='left')
merged_data.loc[merged_data['InvoiceID'].isnull(), ['CusID','CusName', 'Gender', 'Phone','Address']]

   CusID    CusName Gender        Phone     Address
8      5  Sen Sinet      F  097 242 234  Phnom Penh
9      6  Sok Panha      M  086 654 432   Siem Reap

<div class='alert alert-block alert-info'> 10. Display all products that have never been sold.</div>

In [16]:
merged_data = pd.merge(df_invD, df_prod, on='ProductID', how='right') 
merged_data.loc[merged_data['InvoiceID'].isnull(),['ProductID', 'ProductName', 'StockQty', 'UnitPrice', 'Discount']]

    ProductID ProductName  StockQty  UnitPrice  Discount
12          4     Adapter        20          7       0.5
13          5    Keyboard        15         15       0.6