<div class="alert alert-block alert-success">
    <span style='font-size: large'><b> ASSIGNMENT 02 </b></span>
    <br>
    <span> GROUP 1 <span>
</div>

In [1]:
import pandas as pd

In [2]:
# DataFrame Customers
cus_data = [
    [1, 'Keo Tola', 'M', '011 694 836','Phnom Penh'],
    [2, 'Chan Sokheng', 'F', '097 984 4985','Pursat'],
    [3, 'Meng Heang', 'M', '099 897 858', 'Phnom Penh'],
    [4, 'Sok Sophea', 'F', '086 985 585','Siem Reap'],
    [5, 'Sen Sinet', 'F', '097 242 234', 'Phnom Penh'],
    [6, 'Sok Panha', 'M', '086 654 432', 'Siem Reap'],
]
df_customers = pd.DataFrame(cus_data, columns=['CusID','CusName', 'Gender', 'Phone','Address'])

In [3]:
# DataFrame Invoice and InvoiceDetail
inv_data = [
    [1, "2021-01-04", 22, 1, 1],
    [2, "2021-05-15", 14, 4, 1],
    [3, '2021-05-15', 8, 3, 2],
    [4, '2021-07-22', 15, 2, 3],
    [5, '2020-01-17', 45, 1, 3],
    [6, '2020-03-27', 24, 1, 3],
    [7, '2020-02-11', 5, 3, 4],
    [8, '2020-07-22', 59, 3, 59]
]
inv_Detail = [
    [1, 1, 5, 3],
    [1, 2, 7, 1],
    [2, 1, 7, 2],
    [3, 3, 8, 1],
    [4, 2, 7, 1],
    [4, 3, 8, 1],
    [5, 1, 5, 2],
    [5, 2, 7, 5],
    [6, 3, 8, 5],
    [7, 1, 5, 1],
    [8, 2, 7, 5],
    [8, 3, 8, 4],
]

df_invoice = pd.DataFrame(inv_data, columns=['InvoiceID', 'InvoiceDate', 'TotalAmount', 'CusID', 'StaffID'])
df_invD = pd.DataFrame(inv_Detail, columns=['InvoiceID', 'ProductID', 'SellingPrice', 'Quantity'])

In [4]:
# DataFrame Products
prod_data = [
    [1, 'Cable', 50, 10 , 0.5],
    [2, 'Mouse', 30, 7, 0],
    [3, 'USB Headset' ,35, 10, 0.2],
    [4, 'Adapter', 20, 7, 0.5],
    [5, 'Keyboard', 15, 15, 0.6],
]
df_prod = pd.DataFrame(prod_data, columns=['ProductID', 'ProductName', 'StockQty', 'UnitPrice', 'Discount'])

In [5]:
# DataFrame of Staffs
staff_data = [
    [1, 'Kim Tola', 'M', 1500, False],
    [2, 'Long Dary', 'F', 700, False],
    [3, 'Kun Sopheak', 'F', 320, False],
    [4, 'Chim Thida', 'F', 200, True],
    [5, 'Dim Vuthy', 'M', 150, True],
    [6, 'Keo Dara', 'M', 100, False],
]
df_staffs = pd.DataFrame(staff_data, columns=['StaffID', 'StaffName', 'Gender', "Salary", 'StopWork'])

<div class="alert alert-block alert-info"> 1. Display the number of customers from Phnom Penh.</div>

In [6]:
count_pp = df_customers[df_customers['Address'] == 'Phnom Penh']
count_pp = count_pp.groupby(['Address']).size().reset_index(name='Count')
count_pp

      Address  Count
0  Phnom Penh      3

<div class="alert alert-block alert-info"> 2. Display the number of male and female staffs who are still working.</div>

In [7]:
df_staffs[df_staffs['StopWork'] == False]
count_staff = df_staffs.groupby(['Gender']).size().reset_index(name='Count')
count_staff

  Gender  Count
0      F      3
1      M      3

<div class="alert alert-block alert-info"> 3. Display the number of male and female customer from each address.</div>

In [8]:
count_gender = df_customers.groupby(['Address', 'Gender']).size().reset_index(name='Count')
count_gender

      Address Gender  Count
0  Phnom Penh      F      1
1  Phnom Penh      M      2
2      Pursat      F      1
3   Siem Reap      F      1
4   Siem Reap      M      1

<div class="alert alert-block alert-info"> 4. Display the number of invoices and the total amount purchased by each customer.</div>

In [9]:
df_cus_inv = pd.merge(df_customers, df_invoice)
count_inv = df_cus_inv.groupby('CusName').agg(TotalAmount=('TotalAmount', 'sum'), TotalInvoice=('CusName', 'size')).reset_index()
count_inv

        CusName  TotalAmount  TotalInvoice
0  Chan Sokheng           15             1
1      Keo Tola           91             3
2    Meng Heang           72             3
3    Sok Sophea           14             1

<div class="alert alert-block alert-info"> 5. Display the customer who purchased most frequently.</div>

In [10]:
count_frequently = df_cus_inv.groupby('CusName').size().reset_index(name='Count')
count_frequently = count_frequently[count_frequently['Count'] == count_frequently['Count'].max()]
count_frequently

      CusName  Count
1    Keo Tola      3
2  Meng Heang      3

<div class="alert alert-block alert-info"> 6. Display the numbers of Cables that have been sold to Phnom Penh.</div>

In [11]:
address = 'Phnom Penh'
product = 'Cable'
df_invD_prod = pd.merge(df_invD, df_prod, on='ProductID')
merged_data = pd.merge(df_cus_inv, df_invD_prod, on='InvoiceID')
count_cable = merged_data[(merged_data['Address'] == address) & (merged_data['ProductName'] == product)]
count_cable = count_cable['Quantity'].sum()
print(f"Number of Cables that have been sold to Phnom Penh : {count_cable}")

Number of Cables that have been sold to Phnom Penh : 6

<div class="alert alert-block alert-info"> 7. Display the address that purchased most frequently.</div>

In [12]:
count_frequently = df_cus_inv.groupby('Address').size().reset_index(name='Count')
count_frequently = count_frequently[count_frequently['Count'] == count_frequently['Count'].max()]
count_frequently

      Address  Count
0  Phnom Penh      6

<div class="alert alert-block alert-info"> 8. Display all monthly incomes in 2021.</div>

In [13]:
year = 2021
df_invoice['InvoiceDate'] = pd.to_datetime(df_invoice['InvoiceDate'])
df_invoice[df_invoice['InvoiceDate'].dt.year == year]

   InvoiceID InvoiceDate  TotalAmount  CusID  StaffID
0          1  2021-01-04           22      1        1
1          2  2021-05-15           14      4        1
2          3  2021-05-15            8      3        2
3          4  2021-07-22           15      2        3

<div class="alert alert-block alert-info"> 9. Find the most sold product in 2020.</div>

In [14]:
year = 2020
merged_data = pd.merge(df_invoice, df_invD, on='InvoiceID')
merged_data = merged_data[['InvoiceID', 'InvoiceDate', 'ProductID', 'Quantity']]
merged_data = merged_data.merge(df_prod, on='ProductID', how='left')
merged_data = merged_data[['InvoiceID', 'InvoiceDate', 'ProductID', 'ProductName' ,'Quantity',]]
merged_data['InvoiceDate'] = pd.to_datetime(merged_data['InvoiceDate'])
merged_data = merged_data[merged_data['InvoiceDate'].dt.year == year]
merged_data = merged_data.groupby('ProductName').size().reset_index(name='Count')
merged_data = merged_data[merged_data['Count'] == merged_data['Count'].max()]
merged_data

   ProductName  Count
0        Cable      2
1        Mouse      2
2  USB Headset      2

<div class="alert alert-block alert-info"> 10. Display all product ids, names and total selling quantities.</div>

In [18]:
df_invD_prod.groupby(['ProductID','ProductName'])['Quantity'].sum().reset_index()

   ProductID  ProductName  Quantity
0          1        Cable         8
1          2        Mouse        12
2          3  USB Headset        11